



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
}

.navbar-expand-lg {
    background-color: #556B2F; 
    padding: 10px 20px;
}

.barra_navegacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-brand {
    color: #f1d49e;
    font-size: 24px;
    text-decoration: none; 
}

.navbar-brand:hover {
    color: #f1d49e; 
    text-decoration: none; 
}

.menu-centralizado {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    list-style: none;
    display: flex;
    gap: 2px;
}

.nav-link {
    color: #F5DEB3;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    color: #ffffff; 
}

.cart-icon {
    flex: 1;
    text-align: right;
}

.cart-icon img {
    width: 24px;
    height: 24px;
}



.card-text{
    color: #556B2F;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
}

.card-img-overlay {
    background-color: rgba(45, 44, 44, 0.5); 
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.card-title{
    color: #101010; 
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.camisetashtml{
    background-color: #F5DEB3;
}

.card-preco{
    color: #101010;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    background-color: #556B2F;
    border-color: #556B2F;
    border-radius:20px;
}

.btn-success:hover{
   background-color: #556B2F;
}

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');